.app-wrapper {
  height: 100vh;
  background-color: #fff;
  position: relative;
  width: 100%;
}

.app-body {
  margin: 2vw auto;
  background-color: #f0f3f5;
  padding: 4vw 10vw;
  width: 60vw;
  height: 75%;
}

.droppable-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confetti {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: translate(-50%, -50%);
}

.icons-wrapper {
  position: absolute;
  cursor: pointer;
  bottom: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 5%;
}

.play-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.7em;
}

p.icon-subheading {
  margin: 0;
}

.play-icon {
  font-size: 2em;
}

.play-icon:hover {
  color: #2ed47a;
  ;
}

.icon-subheading {
  font-size: 0.8em;
}

.play-icon:active {
  color: #f04134;
}

@media(max-width:768px) {
  .app-body {
    margin: 2vw auto;
    background-color: #f0f3f5;
    padding: 1em 2vw;
    width: 90vw;
  }
  .app-wrapper {
    margin: 1em 0;
    height: unset;
  }
  .icons-wrapper {
    position: absolute;
    cursor: pointer;
    top: 2%;
    right: 2%;
  }
  .play-icon {
    font-size: 1.5em;
  }
  .dragger {
    width: 90% !important;
    height: 25%;
  }
}